* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body.dark-mode {
    background-color: black;

    .mode {
        color: white;
    }

    #slider {
        background-color: white;
    }

    .calculator {
        background-color: #3b3131;
    }

    .calculator div input,
    .calculator div button {
        background-image: radial-gradient(circle, #252b34, #212128, #1b181c, #110e10, #000000);
        color: white;
        -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);

    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: absolute;


}

.calculator {
    border: 5px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgb(42, 61, 167);
    border-radius: 15px;
}

.calculator div input,
.calculator div button {
    padding: 15px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 1.5vmax;

    cursor: pointer;
    margin: 8px;
    margin-right: 0;
    border-radius: 15px;
    background: rgb(73,75,120);
    background: radial-gradient(circle, rgba(73,75,120,1) 0%, rgba(69,80,130,1) 50%, rgba(85,117,200,1) 77%, rgba(121,137,230,1) 100%, rgba(9,36,212,1) 100%);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}

.calculator .display input {
    width: 100%;
    text-align: right;
    margin: 0;
    background-color: #615e5e;
    cursor: text;
    box-shadow: none;
}

.calculator .display {
    width: 85%;
    margin: 5px 5px;
    box-shadow: none;
}

.mode {

    font-size: 1.vmax;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;

}


#toggle {
    cursor: pointer;
    margin: 10px;
}

#slider {
    transition-duration: 0.5s;
    width: 18px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: inline-block;
    border-radius: 40%;
}

#line {
    z-index: -1;
    margin: 5px;
    width: 30px;
    height: 5px;
    background-color: rgb(133, 119, 94);
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

#toggle.active {
    cursor: pointer;

    #slider {
        transform: translateX(20px);
    }

}